@font-face {
  font-family: Railway;
  src: url("../fonts/Raleway-Light.ttf");
  font-weight: 100;
}

@font-face {
  font-family: Railway;
  src: url("../fonts/Raleway-Medium.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Railway;
  src: url("../fonts/Raleway-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Railway;
  src: url("../fonts/Raleway-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Railway;
  src: url("../fonts/Raleway-Bold.ttf");
  font-weight: bold;
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

@mixin transition__($time) {
  -webkit-transition: linear $time;
  -moz-transition: linear $time;
  -ms-transition: linear $time;
  -o-transition: linear $time;
  transition: linear $time;
}

body {
  font-family: Railway, sans-serif !important;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: #1ac1bb;
    border-radius: 10px;
  }
}
/*                                       .         .
8 888888888o   8 8888888888            ,8.       ,8.
8 8888    `88. 8 8888                 ,888.     ,888.
8 8888     `88 8 8888                .`8888.   .`8888.
8 8888     ,88 8 8888               ,8.`8888. ,8.`8888.
8 8888.   ,88' 8 888888888888      ,8'8.`8888,8^8.`8888.
8 8888888888   8 8888             ,8' `8.`8888' `8.`8888.
8 8888    `88. 8 8888            ,8'   `8.`88'   `8.`8888.
8 8888      88 8 8888           ,8'     `8.`'     `8.`8888.
8 8888    ,88' 8 8888          ,8'       `8        `8.`8888.
8 888888888P   8 888888888888 ,8'         `         `8.`8888.
*/

.section {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;

  .section__header {
    text-align: center;

    h1 {
      font-size: 32px;
      font-weight: 600;
      padding: 15px 60px;
      display: inline-block;
      position: relative;
      margin: 0;

      &:before {
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: transparent;
        border-left: 1px solid;
        border-bottom: 1px solid;
      }

      &:after {
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        top: 0;
        right: 0;
        background-color: transparent;
        border-right: 1px solid;
        border-top: 1px solid;
      }
    }

    p {
      font-size: 18px;
      font-weight: 100;
      text-align: center;
      margin: 50px 0 0;
    }
  }
}
/**********************************************************************************************************************/

#header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  padding: 25px 0;
  box-shadow: 0 0 10px 0 rgba(31, 236, 229, 0.5);

  #logo {
    img {
      width: auto;
      height: 80px;
      display: block;
    }
  }

  nav {
    ul {
      list-style-type: none;
      display: inline-block;
      padding: 0;
      margin: 17px 0 0;
      float: right;

      li {
        display: inline-block;
        border-right: 1px solid #8f8f92;
        padding: 10px 16px 10px 8px;

        &:last-child {
          border: none;
        }

        a {
          color: #fff;
          text-transform: uppercase;
          font-weight: 300;
          font-size: 18px;
          padding: 12px 12px;
          outline: none;
          @include transition__(.3s);

          &:hover {
            text-decoration: none;
            background-color: rgba(255, 255, 255, 0.3);
            @include transition__(.3s);
          }

          &:focus {
            text-decoration: none;
          }

          &.active {
            text-decoration: none;
            background-color: rgba(255, 255, 255, 0.3);
            @include transition__(.3s);
          }
        }
      }
    }
  }

  #mobile__button {
    i {
      font-family: FontAwesome;
      font-size: 40px;
      color: #1ac1bb;
      float: right;
      margin-right: 20px;
      margin-top: 20px;
      cursor: pointer;
    }
  }

  #mobile__menu {
    background-color: #161a21;
    width: 100%;
    position: fixed;
    margin-top: 26px;
    text-align: center;

    ul {
      float: initial;
      display: block;
      margin: 0 auto;
      padding: 20px 0;
    }
  }
}

#header.fixed {
  background-color: #161a21;
}

#home {
  width: 100%;
  height: 100vh;
  min-height: 570px !important;
  position: relative;

  #hero__slider {
    width: 100%;
    height: 100%;

    .single__slide {
      height: 100vh;
      background: fixed, no-repeat, center;
      background-size: cover;
    }

    .first__slide {
      background-image: url("../img/firstSlide.jpg");
    }

    .second__slide {
      background-image: url("../img/secondSlide.jpg");
    }

    .third__slide {
      background-image: url("../img/thirdSlide.jpg");
    }

    .slick-dots {
      position: absolute;
      bottom: 40px;
      z-index: 25;
      padding: 0;
      margin: 0;
      left: 50%;
      transform: translateX(-50%);
      list-style-type: none;

      li {
        display: inline-block;
        margin: 0 8px;

        button {
          color: #8f8e8d;
          border-radius: 50%;
          box-shadow: none;
          border: 2px solid #fff;
          background-color: #8f8e8d;
          width: 20px;
          height: 20px;
          outline: none;
        }
      }

      li.slick-active {
        button {
          background-color: #cbcbc9;
          color: #cbcbc9;
        }
      }
    }
  }

  #hero__wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;

    .container {
      max-width: 900px;

      #slider__header {
        margin-top: 40%;

        h1 {
          text-align: center;
          background-color: rgba(34, 34, 34, 0.7);
          padding: 30px 0;
          color: #fff;
          font-size: 70px;
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: 15px;
        }

        p {
          margin: 15px 0 0;
          text-align: center;
          background-color: rgba(34, 34, 34, 0.7);
          padding: 15px 0;
          color: #fff;
          font-size: 24px;
          font-weight: normal;
        }

        .button__wrapper {
          display: block;
          margin-top: 125px;
          text-align: center;

          a {
            font-family: FontAwesome;
            border: 2px solid #fff;
            background-color: transparent;
            font-size: 30px;
            padding: 15px 80px;
            border-radius: 64px;
            display: inline-block;
            @include transition__(.3s);
            animation: pulse infinite 3s;

            i {
              color: #fff;

            }

            &:hover {
              text-decoration: none;
              background-color: rgba(255, 255, 255, 0.4);
              @include transition__(.3s);
            }
          }
        }
      }
    }
  }
}

#about {
  padding: 65px 0 80px;
  width: 100%;
  background-color: #cccccc;

  .about__header {
    text-align: center;
    margin-bottom: 80px;

    h1 {
      color: #333333;
      background-color: #c2c2c2;

      &:before, &:after {
        border-color: #333333;
      }
    }
  }

  .column {
    h2, h3 {
      font-weight: bold;
      color: #333333;
    }

    p {
      font-weight: normal;
      font-size: 16px;
    }
  }

  .left__column {
    h3 {
      font-size: 21px;
      margin-top: 30px;
      margin-bottom: 20px;
    }

    p {
      color: #444444;
    }

    img {
      width: 100%;
    }
  }

  .right__column {
    .first__text {
      h2 {
        font-size: 24px;
        margin: 0 0 35px;
        padding: 0 15px;
      }

      p {
        color: #444444;
        padding: 0 15px;
      }
    }

    .second__text {
      background-color: #333333;
      padding: 15px 15px;
      margin-top: 25px;

      p {
        color: #1fece5;
      }
    }
  }
}

#services {
  padding: 60px 0 90px;
  background-image: url("../img/servicesBg2.jpg");
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .services__header {
    text-align: center;
    margin-bottom: 80px;

    h1 {
      color: #fff;
      background-color: #161a21;

      &:before, &:after {
        border-color: #fff;
      }
    }

    p {
      color: #9c9c9c;
    }
  }

  .all__services {
    .row {
      .service {
        margin-bottom: 40px;

        .service__wrapper {
          display: block;
          margin: 0 auto 30px;
          text-align: center;

          i {
            font-family: FontAwesome;
            color: #1ac1bb;
            font-size: 40px;
            padding: 10px 12px;
            border: 1px solid #1ac1bb;
            display: inline-block;
          }
        }

        h3 {
          font-size: 20px;
          color: #fff;
          font-weight: normal;
          text-align: center;
          margin: 25px 0;
        }

        p {
          font-size: 16px;
          color: #9c9c9c;
          font-weight: 100;
          text-align: center;
          margin: 0;
        }
      }
    }
  }
}

#skills {
  padding: 60px 0 80px;
  background-color: #fff;

  .skills__header {
    text-align: center;
    margin-bottom: 80px;

    h1 {
      color: #333333;
      background-color: #f2f2f2;

      &:before, &:after {
        border-color: #333333;
      }
    }

    p {
      color: #444444;
    }
  }

  .circles {
    margin-bottom: 45px;

    canvas {
      display: block;
      margin: 0 auto;
    }

    h3 {
      text-align: center;
      font-weight: normal;
      font-size: 18px;
      color: #444444;
      margin-bottom: 0;
    }
  }

  .lines {
    margin-top: 30px;

    .row {
      .line {
        width: 200px;
        height: 8px;
        display: block;
        margin: 0 auto 0;
        position: relative;
        background-color: #0b4846;
        border-radius: 3px;

        div {
          width: 20px;
          height: 12px;
          position: absolute;
          left: 0;
          top: -2px;
          background-color: #1fece5;
          border-radius: 3px;
        }
      }

      h2 {
        max-width: 200px;
        display: block;
        text-align: left;
        font-weight: normal;
        font-size: 24px;
        color: #444444;
        margin: 0 auto 10px;
      }

      h3 {
        max-width: 200px;
        display: block;
        text-align: left;
        font-weight: 100;
        font-size: 18px;
        color: #444444;
        margin: 10px auto 35px;
      }

    }
  }
}

#numbers {
  padding: 100px 0 85px;
  background: url("../img/numbersBackground.jpg"), no-repeat, 65%;
  background-attachment: fixed;
  background-size: cover;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .number {
    margin-bottom: 45px;

    h4 {
      text-align: center;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      font-size: 64px;
      color: #a9f2ef;
    }

    p {
      color: #fff;
      font-weight: normal;
      font-size: 18px;
      text-align: center;

      i {
        font-family: FontAwesome;
        font-size: 26px;
        margin-right: 10px;
      }
    }
  }
}

#projects {
  padding: 60px 0 100px;
  background-image: radial-gradient(circle , #ffffff, #5e5e5e);

  .projects__header {
    text-align: center;
    margin-bottom: 80px;

    h1 {
      color: #333333;
      background-color: #b0b0b0;

      &:before, &:after {
        border-color: #000;
      }
    }

    p {
      color: #444444;
    }
  }

  .projects__buttons {
    margin-bottom: 40px;

    .buttons__wrapper {
      text-align: center;

      a {
        color: #333;
        padding: 12px 20px;
        text-align: center;
        text-decoration: none;
        border: 1px solid #333;
        border-radius: 10px;
        @include transition__(.3s);

        &:hover {
          color: #fff;
          background-color: #1ac1bb;
          border-color: #1ac1bb;
          @include transition__(.3s);
        }
      }

      .button__all {
        margin-right: 15px;
      }

      .button__front {
        margin: 0 15px;
      }

      .button__java {
        margin-left: 15px;
      }
    }
  }

  .projects__wrapper {

    .single__project {
      margin-bottom: 60px;

      a {
        text-decoration: none;
        position: relative;
        width: 100%;

        .project__image {
          position: relative;
          width: 100%;
          height: 300px;
          background: no-repeat, center center;
          background-size: cover;
          display: block;
          margin: 0 auto;

          &:before {
            content: '';
            position: absolute;
            opacity: 0;
            background-color: rgba(26, 193, 187, 0.4);
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 300px;
            @include transition__(.3s);
          }

          &:after {
            content: '\f002 ';
            position: absolute;
            font-family: FontAwesome;
            font-size: 45px;
            color: #fff;
            width: 80px;
            height: 80px;
            text-align: center;
            background-color: #1ac1bb;
            opacity: 0;
            bottom: -50px;
            left: 50%;
            line-height: 80px;
            border-radius: 50%;
            margin-left: -40px;
            @include transition__(.3s);
          }
        }

        .project__content {
          h3 {
            font-weight: normal;
            font-size: 24px;
            color: #333;
            margin: 30px 0 0;
            text-align: center;
          }
        }
        
        &:hover {

          .project__image {
            &:before {
              opacity: 1;
              @include transition__(.3s);
            }

            &:after {
              opacity: 1;
              @include transition__(.3s);
              bottom: 110px;
            }
          }
        }
      }
    }
  }
}

#contact {
  width: 100%;
  background: url(../img/contactBackground.jpg), no-repeat, center center;
  background-attachment: fixed;
  background-size: cover;
  padding: 60px 0 100px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }

  .contact__header {
    text-align: center;
    margin-bottom: 80px;

    h1 {
      color: #fff;
      background-color: rgba(255, 255, 255, 0.4);

      &:before, &:after {
        border-color: #fff;
      }
    }

    p {
      color: #fff;
    }
  }

  .column {
    h2 {
      color: #fff;
      font-weight: 600;
      font-size: 24px;
      text-align: left;
      margin-bottom: 30px;
    }
  }

  .column__left {
    .contact__info {

    }

    .contact__text {
      margin-bottom: 30px;

      p {
        font-weight: 100;
        font-size: 16px;
        color: #fff;
        text-align: left;
      }
    }

    .contact__data {

      .contact__single {
        font-family: "Open Sans", sans-serif;
        font-weight: normal;
        color: #fff;
        font-size: 18px;
        display: block;
        margin-bottom: 30px;

        i {
          font-family: FontAwesome;
          color: #1ac1bb;
          font-size: 25px;
          border: 1px solid #1ac1bb;
          width: 50px;
          height: 50px;
          line-height: 50px;
          text-align: center;
          margin-right: 10px;
        }

        &:hover {
          text-decoration: none;
        }
      }

      .contact__linkedin, .contact__facebook {
        display: inline-block;
        margin-right: 20px;
      }
    }
  }

  .column__right {
    #form {

      form {
        .input__text {
          display: block;
          width: 100%;
          background-color: transparent;
          border: none;
          border-bottom: 2px solid #1ac1bb;
          margin-bottom: 30px;
          height: 40px;
          outline: none;
          color: #fff;

          @include placeholder {
            color: #fff;
            font-family: "Open Sans", sans-serif;
            font-weight: 300;
            font-size: 15px;
          }
        }

        .input__button {
          display: inline-block;
          border: 2px solid #fff;
          background-color: transparent;
          outline: none;
          padding: 15px 25px;
          text-align: center;
          text-transform: uppercase;
          font-family: "Open Sans", sans-serif;
          font-weight: 600;
          color: #fff;
          font-size: 18px;
          @include transition__(.3s);

          &:hover {
            background-color: rgba(255, 255, 255, 0.5);
            @include transition__(.3s);
          }
        }

        textarea {
          height: 150px !important;
          resize: none;
          color: #fff;
          font-family: "Open Sans", sans-serif;
          font-weight: 300;
          font-size: 15px;

          &::-webkit-scrollbar {
            width: 5px;
          }

          &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
          }

          &::-webkit-scrollbar-thumb {
            background-color: #1ac1bb;
            outline: none;
          }
        }

        input[type="reset"] {
          margin-right: 30px;
        }
      }
    }
  }
}

#single__project {
  #header {
    background-color: #222;
    position: fixed;
    top: 0;
    border: none;
    box-shadow: 0 0 10px 0 rgba(31, 236, 229, 0.5);

    #social {
      float: right;
      margin-top: 20px;

      .social__bar {
        float: right;

        .contact__single {
          font-family: "Open Sans", sans-serif;
          font-weight: normal;
          color: #fff;
          font-size: 18px;

          i {
            font-family: FontAwesome;
            color: #1ac1bb;
            font-size: 20px;
            border: 1px solid #1ac1bb;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            display: inline-block;
          }

          &.contact__linkedin {
            margin-right: 20px;
          }

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  #home {
    background: no-repeat, center;
    background-attachment: fixed;
    background-size: 100%;
    height: 300px;
    min-height: 300px !important;
    display: table;
    width: 100%;
    margin: 130px 0 70px;

    h1 {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      color: #fff;
      font-size: 70px;
    }
  }

  #project__content {
    .project__description {
      p {
        font-size: 18px;
        font-weight: 100;
        color: #222;
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 50px;
        }
      }
    }

    .project__image {
      margin-bottom: 70px;

      img {
        width: 100%;
        height: auto;
        box-shadow: 0 0 10px 0 rgba(31, 236, 229, 0.5);
        @include transition__(.3s);

        &:hover {
          transform: scale(1.05);
          @include transition__(.3s);
        }
      }
    }

    .project__columns {
      .column {
        width: 100%;
        display: block;
        margin: 0 auto 40px;
        background-color: #eeeeee;
        border-radius: 10px;
        padding-bottom: 20px;

        .header__wrapper {
          display: block;
          text-align: center;

          i {
            font-family: FontAwesome;
            width: 60px;
            height: 60px;
            line-height: 60px;
            font-size: 30px;
            color: #fff;
            background-color: #1fece5;
            display: block;
            border-radius: 60px;
            margin: 20px auto 20px;
          }

          h2 {
            color: #fff;
            text-align: center;
            font-size: 32px;
            margin: 0 0 30px;
            background-color: #333;
            display: inline-block;
            position: relative;
            padding: 10px 20px;

            &:before {
              content: '';
              width: 20px;
              height: 20px;
              position: absolute;
              bottom: 0;
              left: 0;
              background-color: transparent;
              border-left: 1px solid #fff;
              border-bottom: 1px solid #fff;
            }

            &:after {
              content: '';
              width: 20px;
              height: 20px;
              position: absolute;
              top: 0;
              right: 0;
              background-color: transparent;
              border-right: 1px solid #fff;
              border-top: 1px solid #fff;
            }
          }
        }

        .list__wrapper {
          display: block;
          text-align: center;

          ul {
            list-style-type: none;
            padding: 0;
            display: inline-block;

            li {
              color: #222;
              font-size: 18px;
              margin-bottom: 15px;
              position: relative;
              padding-left: 20px;
              text-align: left;

              &:before {
                color: #1fece5;
                font-size: 18px;
                left: 0;
                font-family: FontAwesome;
                position: absolute;
              }
            }
          }
        }

        &.project__technologies {
          ul {
            li {
              &:before {
                content: '\f105';
              }
            }
          }
        }

        &.project__team {
          ul {
            min-width: 175px;

            li {
              a {
                color: #222;
                @include transition__(.3s);

                &:hover {
                  text-decoration: none;
                  padding-left: 10px;
                  @include transition__(.3s);
                }
              }
              &:before {
                content: '\f08c';
              }
            }
          }
        }
      }
    }

    .project__nav {
      margin: 50px 0;

      a {
        display: inline-block;
        padding: 15px 28px;
        color: #fff;
        font-size: 18px;
        border: 1px solid rgb(31, 236, 229);
        background-color: rgb(31, 236, 229);
        border-radius: 10px;

        @include transition__(.3s);

        &:hover {
          text-decoration: none;
          background-color: #ffffff;
          color: rgb(31, 236, 229);
          @include transition__(.3s);
        }

        &:last-child {
          float: right;
        }
      }
    }
  }
}

#footer {
  padding: 70px 0 55px;
  background-color: #222222;
  width: 100%;
  position: relative;
  
  a {
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    font-family: FontAwesome;
    font-size: 30px;
    text-align: center;
    color: #222222;
    left: 50%;
    margin-left: -25px;
    top: 0;
    margin-top: -25px;

    i {
      line-height: 45px;
    }
  }

  p {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 17px;

    #year {
      margin-right: 20px;
    }

    #name {
      margin-left: 20px;
    }
  }
}
@media screen and (max-width: 400px) {
  #home {
    #hero__wrapper {
      .container {
        #slider__header {
          margin-top: 55% !important;
          h1 {
            font-size: 24px !important;
          }
        }
      }
    }
  }

  #skills {
    .skills__header {
      h1 {
        padding: 15px 30px !important;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  #header {
    #mobile__menu {
      ul {
        li {
          display: block !important;
          margin-bottom: 10px;
          border: none;

          a {
            padding: 12px 30px !important;
          }
        }
      }
    }
  }
  #home {
    #hero__wrapper {
      #slider__header {
        h1 {
          font-size: 35px !important;
        }
      }
    }
  }

  #contact {
    .column__right {
      #form {
        form {
          input[type="reset"] {
            margin-bottom: 30px;
          }
        }
      }
    }
  }

  #projects {
    .projects__buttons {
      .buttons__wrapper {
        span {
          display: none;
        }

        a {
          display: block;
          margin: 0 auto 30px !important;
        }

        .button__all {
          width: 118px;
        }

        .button__front {
          width: 136px;
        }

        .button__java {
          width: 75px;
        }
      }
    }
  }

  #single__project {
    #home {
      h1 {
        font-size: 55px !important;
      }
    }

    #project__content {
      .project__nav {
        a {
          padding: 15px 15px !important;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  #header {
    nav {
      ul {
        li {
          padding: 10px 12px 10px 6px !important;

          a {
            padding: 12px 8px !important;
            font-size: 15px;
          }
        }
      }
    }
  }
}

@keyframes pulse {
  0% {
    padding: 15px 80px;
  }

  50% {
    padding: 22px 105px;
  }

  100% {
    padding: 15px 80px;
  }
}